

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #222222;
    color: white;
}



h4 {
    margin: 15px;
}

label {
    width: 30%;
    margin: 8px 0;
    box-sizing: border-box;
    color: white;
}


input[type=submit],
input[type=button]{

    color: #ffb667; /* Text color */
    background-color: transparent; /* Remove background color */
    border: 2px solid #ffb667; /* Border thickness, line style, and color */
    border-radius: 5px; /* Adds curve to border corners */
    text-transform: uppercase; /* Make letters uppercase */

}

input[type=submit]:hover,
input[type=button]:hover,
a:hover {
    color: #fffb00;
}

a {
    color: #ffb667;
}
